body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgb(7, 21, 59) 100%, rgba(6,40,17,1) 100%, rgba(0,212,255,1) 100%, rgb(133, 154, 140) 100%, rgba(30, 62, 30, 0.325) 100%);;
    
}
.wrapper{
    background-color:black;
    width: 400px;
    height: 670px;
    box-sizing: border-box;
    text-align: center;
    
    border: 3px solid burlywood;
    border-radius: 15px;
    
    
}
p{
    color: white;
    font-size: 18px;
    text-align: center;
}
h1{
    margin: 0;
    text-align: center;
    background-color:rgb(237, 86, 11);
    border-radius: 8px;;
    border-radius: 15px;
    padding: 5px;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
#guess{
    font-size: 50px;
    color: rgb(255, 222, 185);
}
.guessField{
    width: 250px;
    height: 35px;
    margin: 20px;
    border-style: none;
    border-radius: 5px;
    text-indent: 10px;
    font-size: 19px;

    background-color: #c8c1c1;
    


}
.guessSubmit{
    margin: 26px;
    width: 120px;
    height: 30px;
    border-radius: 5px;
    background-color: rgb(237, 86, 11);
    color: white;
    font-size: 16px;
    border-style: none;

    transition: 0.5as;

}
.guessSubmit:hover{
    box-shadow: 1px 1px 1px 1px rgb(0, 255, 64);
}

.lowOrhi{
    font-size: 15px;
    text-align: center;
    color: rgb(234, 73, 73);
}
@media screen and (max-width: 480px) {
    .wrapper {
        width: 95%;
        min-height: auto;
        padding: 15px;
        margin: 25px;
    }

    h1 {
        font-size: 20px;
    }

    #guess {
        font-size: 30px;
    }

    .guessField {
        font-size: 14px;
    }

    .guessSubmit {
        width: 100px;
        height: 35px;
        font-size: 14px;
    }
}
@media screen and (max-height: 680px) {
    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }

    h1 {
        font-size: 18px;
        padding: 5px;
        margin:25px;
        text-align: center;
    }

    #guess {
        font-size: 28px;
        margin-bottom: 10px;
    }

    .guessField {
        height: 30px;
        margin: 10px 0;
    }

    .guessSubmit {
        margin: 10px 0;
    }

    p, .lowOrhi {
        font-size: 12px;
        margin: 5px 0;
    }
}
